NODE_ENV=development
HOST=0.0.0.0
PORT=3006
SERVICE_VERSION=
ENVIRONMENT=local

LOG_ENABLED=true
LOG_LEVEL=debug
LOG_FORMAT=pino-pretty

HTTP_PROXY=
CDP_HTTPS_PROXY=

NOTIFY_TEMPLATE_ID=
NOTIFY_API_KEY=
NOTIFY_REPLY_TO_ID=

DESIGNER_URL=http://localhost:3000
MANAGER_URL=http://localhost:3001
ENABLE_SECURE_CONTEXT=false
ENABLE_METRICS=false

ENTITLEMENT_URL=http://localhost:3004

# OIDC mock server
OIDC_JWKS_URI=
OIDC_VERIFY_AUD=local-test-client
OIDC_VERIFY_ISS=
ROLE_EDITOR_GROUP_ID=

TRACING_HEADER=
AWS_REGION=eu-west-2
SQS_ENDPOINT=http://localhost:4566
EVENTS_SQS_QUEUE_URL=
RECEIVE_MESSAGE_TIMEOUT_MS=5000
SQS_MAX_NUMBER_OF_MESSAGES=10
SQS_VISIBILITY_TIMEOUT=30
EVENTS_SQS_DLQ_ARN=

# Local AWS / Localstack helpers
FORMS_AUDIT_QUEUE=forms_notify_listener_events
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
